
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*====================================================table css===========================================================================================*/

body{
    width: 100%;
    height: auto; 
    background: url("./project.images/photocar.avif");
    background-size: cover;
}
 #inp{
    width: 20%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid rgb(13, 13, 13);
 }
 h1{
    color: aliceblue;
 }
#border{
    width: 100%;
    height: 50vh;
   /* background: linear-gradient(rgb(90, 110, 125),rgb(86, 99, 139),rgba(118, 69, 126, 0.614));*/
    color: aliceblue;
    border: 5px solid aliceblue;
    background: transparent;
    /* border-radius: 30px; */
    box-shadow: 5px 5px 13px rgb(97, 123, 148),-5px -5px 13px rgb(94, 131, 146);
    
}
#thd{
    width: 100%;
    height: 10vh;
    /* background: black; */
    margin-top: 50px;
    margin-left: 50px;
    background: transparent;
    box-shadow: 5px 5px 13px rgb(97, 123, 148),-5px -5px 13px rgb(94, 131, 146);
}
#thd tr th{
     padding-left: 5px;
    padding-right: 5px; 
    color: rgb(247, 22, 6);
    border-radius: 10px;
    font-size: 19px;
    
}
#element{
    text-align: center;
    color: antiquewhite;
    font-size: 17px;
    box-shadow: 5px 5px 13px rgb(96, 101, 101),-5px -5px 13px rgb(99, 108, 108);
    
}
#element td{
    border: 2px solid aliceblue;
}
#element #nme{
    color: aliceblue;
}
/*===================================================form css==========================================================================================*/

#form{
    margin-top: 20px;
    width: 40%;
    height: 95vh;
    color: aliceblue;
    box-shadow: 5px 5px 13px rgb(97, 123, 148),-5px -5px 13px rgb(94, 131, 146);
    border-radius: 30px;
    overflow: hidden;
}

#form h1 span{
    
    color: darkgoldenrod;
}
#form input{
    width:60%;
    height: 35px;
    background:transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(246, 249, 251);
    padding: 0 35px 0 5px;
    border-bottom: 2px solid aliceblue;
    border-radius: 10px;
    padding-left: 20px;
}

#form div{
    font-size: 1.4em;
    
}
#form #submit{
    background: aliceblue;
    border-radius: 30px;
    color: black;
}
#form div select{
    background: transparent;
    color: aliceblue;
    font-size: 15px;
}
#form div select option{
    color: black;
}
/*===================================================js form===============================================================================*/
#form2{
    padding-top: 20px;
    color: aliceblue;
     box-shadow: 5px 5px 13px rgb(97, 123, 148),-5px -5px 13px rgb(94, 131, 146);
     border: 5px solid aliceblue;
     border-radius: 30px;
}
#data1{
    margin-top: 40px;
    width: 40%;
    height: 40vh;
    
}
#form2 input{
        width:50%;
        height: 35px;
        background:rgba(230, 227, 222, 0.116);
        border: none;
        outline: none;
        font-size: 1em;
        color: rgb(246, 249, 251);
        padding: 0 35px 0 5px;
        border-bottom: 2px solid aliceblue;
        border-radius: 10px;
        padding-left: 20px;
}
#form2 #submit{
    background: aliceblue;
    border-radius: 30px;
    color: black;
    margin-bottom: 20px;
}

 