*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*------------================================================================================================---*/
/*------------==================================navbar section starts here===================================================-->*/
#container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    background: #111010;
}

#container h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    width: 115px;
    height: 115px;
    border: 5px dashed rgb(229, 232, 234);
    border-radius: 50%;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 30px;
    color: rgb(235, 233, 228);
    transition: all 3s ease-in-out;
}
#container h2:hover{
    color: rgb(191, 165, 36);
    transform: rotate(360deg);
    border-radius: 100px;
    font-size: 35px;
}
#container h2 span{
    color: rgb(156, 130, 25);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#container h2 span:hover{
    color: rgb(236, 236, 227);
}
#container  ul {
    display: flex;
    gap: 20px;
    font-size: 1.6em;
    font-weight: bold;
}
#container  a{
    text-decoration: none;
    color: rgb(240, 233, 233);
    font-family: "Lobster", serif;
}
#container li{
    list-style: none;
}
#container  a:hover{
    text-decoration: underline;
    color: rgba(188, 8, 8, 0.737);
}

#container input{
    outline-color: #f70707;
    padding: 7px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
/*==================================================first section===========================================================*/

#img{
    width: 100%;
    height: 90vh;
    background-image: url("https://img.freepik.com/premium-photo/row-lamborghinis-parking-lot-night_670382-17750.jpg?ga=GA1.1.1179863856.1733368449&semt=ais_hybrid");
    background-size: cover;
    /* border-radius: 50px; */
   
}
/*=====================================================second section====================================================*/
#ret{
    flex-wrap: wrap; 
    justify-content: center; 
    position:absolute;
    top: 15rem;
    width: 60%;
    left: 19rem;
    z-index: 3;
    text-align: center;
}
#ret h1{
   color: aliceblue;
   font-weight: bold;
   font-size: 4rem;
}
#ret h1 span{
    color: darkgoldenrod;
}
#ret h2{
    margin-top: 30px;
}
#ret h2 a{
    color: aliceblue;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
   
 }
 #ret h2 a:hover{
    color: rgb(247, 6, 6);
    text-decoration: underline;
}
 #ret h2 span{
     color: rgb(250, 23, 7);
     font-size: 2rem;
}
/*==========================================================================thirdsection==================================*/
#ourcar{
    width: 100%;
    /* height: auto; */
    background: #131212;
    border: 1px solid rgb(7, 7, 7);
}
.car{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-evenly;
   
    
}
.car div{
    width: 350px;
    height: 450px;
    /* border: 1px solid black; */
    border-radius: 30px;
    margin-top: 130px;
}
.car div img{
    width: 350px;
    height: 450px;
    border-radius: 30px;
    /* transform: scale(3,-1); */
}
/* .car div img:hover{
    
} */
 .car div h1{
    position: absolute;
    padding-left: 10px;
    padding-top: 20px;
}
/*================================================fourth section==============================================================================*/
#choose{
    width: 100%;
    height: auto;
    background: #111010;
    border: 1px solid black;
    color: aliceblue;
    flex-wrap: wrap;
}

#options{
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    background: #161515;
    /* border: 1px solid rgb(238, 234, 234); */
    flex-wrap: wrap;
    box-shadow: 5px 5px 10px rgba(70, 71, 71, 0.249),-5px -5px 10px rgba(50, 51, 52, 0.24);
}
#options div{
    width: 400px;
    height: auto;
    /* border: 1px solid black; */
}
#options .text{
    margin-top: 70px;
    font-weight: bold;
    font-size: 1.3em;
} 
.img1{
    position: absolute;
    width: 400px;
    border-radius: 180px;
    object-fit: cover;
    border:5px outset aliceblue;
    
}
.img2{
    border-top-right-radius: 60px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 60px;
    position: absolute;
    margin-top: 25%;
    
}

/*------------------------------------------------------footer starts----------------------------------------*/
#contacts {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    padding-top: 60px;
    background: #0f0e0e;
    flex-wrap: wrap;
}
#contacts p{
   font-size: 30px;
   color: aliceblue;
}

#contacts center input{
        width:500PX;
        height:7vh;
        font-size: 20px;
        padding-left: 20px;
        border-radius: 20px;
}
#contacts button{
    font-size: 60px;
    background-color: goldenrod;
    color: aliceblue;
}
#contacts button i{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#contacts .signup div{
    width: 100%;
    height: auto;
    border-right: 1px solid aliceblue;
    flex-direction: column;
    padding-top: 40px;
    color: aliceblue;
    padding-left: 20px;
    padding-top: 40px;
    margin-top: 60px;
   
}
#contacts .signup {
    display: flex;
    justify-content: space-evenly;
}
#contacts .signup h1 a{
    color: aliceblue;
    
}
#contacts .signup h1{
    transition: all 3s ease;
}
#contacts .signup h1:hover{
    color: rgb(243, 12, 8);
}
#contacts .signup  i{
     background-color: black;
     padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 20px;
      border-radius: 100%;
      font-size: 30px;
      color: aliceblue;
      border: 5px solid aliceblue;
}
#contacts .signup i:hover{
    background-color: goldenrod;
    border: 5px solid darkred;
}  
#contacts .signup h2{
    font-size: 30px;
    transition: all 3s ease;
}
#contacts .signup h2:hover{
    color: sienna;
}
/* #inp{
    display: none;
} */
/* #bars{
    display: none;
} */


