/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    font-family: "Oleo Script", system-ui;
}

/*------------================================================================================================---*/
/*------------==================================navbar section starts here===================================================-->*/
#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    background: #0c0c0c;
}

#container h2{
   
    font-weight: bold;
    text-decoration: underline;
    width: 115px;
    height: 115px;
    border: 5px dashed rgb(229, 232, 234);
    border-radius: 50%;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 30px;
    color: rgb(235, 233, 228);
    transition: all 3s ease-in-out;
}
#container h2:hover{
    color: rgb(191, 165, 36);
    transform: rotate(360deg);
    border-radius: 100px;
    font-size: 35px;
}
#container h2 span{
    color: rgb(156, 130, 25);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#container h2 span:hover{
    color: rgb(236, 236, 227);
}
#container  ul {
    display: flex;
    gap: 20px;
    font-size: 1.6em;
    font-weight: bold;
}
#container  a{
    text-decoration: none;
    color: rgb(240, 233, 233);
    font-family: "Lobster", serif;
}
#container li{
    list-style: none;
}
#container  a:hover{
    text-decoration: underline;
    color: rgba(188, 8, 8, 0.737);
}

#container input{
    outline-color: #f70707;
    padding: 7px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
/*==================================================first section===========================================================*/

#img{
    width: 100%;
    height: 90vh;
    background-image: url("https://img.freepik.com/premium-photo/sports-cars-collection-wallpaper-audi_970779-1395.jpg?ga=GA1.1.1179863856.1733368449&semt=ais_hybrid");
    background-size: cover;
    /* border-radius: 50px; */
   
}
/*=====================================================second section====================================================*/
#ret{
    flex-wrap: wrap; 
    justify-content: center; 
    position:absolute;
    top: 15rem;
    width: 60%;
    left: 19rem;
    z-index: 3;
    text-align: center;
}
#ret h1{
   color: aliceblue;
   font-weight: bold;
   font-size: 4rem;
}
#ret h1 span{
    color: darkgoldenrod;
}
#ret h2{
    margin-top: 30px;
}
#ret h2 a{
    color: aliceblue;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
   
 }
 #ret h2 a:hover{
    color: rgb(247, 6, 6);
    text-decoration: underline;
}
 #ret h2 span{
     color: rgb(250, 23, 7);
     font-size: 2rem;
}
/*==========================================================================thirdsection==================================*/
#tact{
    width: 100%;
    height: auto;
    background: #171717;
}
.contact div{
    margin-top: 40px; 
    width: 600px;
    height: 750px;
    /* border: 1px solid rgb(12, 12, 12); */
    flex-direction: column;
    padding-left: 40px;
    padding-top: 40px;
    font-size: 2em;
    
}
.shadow{
    box-shadow: 5px 5px 13px rgb(25, 26, 27),-5px -5px 13px rgb(45, 49, 51);
    background: black;
    border-radius: 30px;
}
.contact{
   display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    color: aliceblue;
}
.contact div h4{
    font-size: 20px;
}
.contact div h2 i{
    font-size: 20px;
    background: rgb(245, 22, 6);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
   
}
.contact div h2 i:hover{
    color: #f8f2f2;

}
#form input{
    color: rgb(21, 27, 32);
    width: 60%;
    height: 40px;
    background: transparent;
    display: grid;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 25px;
    padding-left: 5px;
    border-bottom:1px solid aliceblue;
    
}

#submit {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
   background: rgb(247, 14, 2);
    border: none;
    font-size: 1.2em;
    border-radius: 50px;
    color: aliceblue;
}
#submit:hover{
    color: black;
    background-color: #f2181879;
}
#form p{
    font-size: medium;
}
/*------------------------------------------------------footer starts----------------------------------------*/
#contact {
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding-top: 60px;
    background: #171717;
    flex-wrap: wrap;
    font-family: "Oleo Script", system-ui;

}
#contact p{
   font-size: 20px;
   color: rgba(240, 248, 255, 0.84);
}
#contact center input{
        width:400PX;
        height:7vh;
        font-size: 20px;
        padding-left: 20px;
        border-radius: 20px;
        background: transparent;
        border: 1px solid rgba(250, 235, 215, 0.628);
}
#contact .signup div{
    width: 100%;
    height: auto;
    border-right: 1px solid aliceblue;
    flex-direction: column;
    padding-top: 40px;
    color: aliceblue;
    padding-left: 20px;
    padding-top: 40px;
    flex-wrap: wrap;
   
}
#contact .signup {
    display: flex;
    justify-content: space-evenly;
    background: #000000;
}
#contact .signup h1 a{
    color: rgb(245, 242, 242);
    text-decoration: none;
    font-size: 30px;
    
}

#contact .signup h1:hover{
    color: rgb(242, 238, 238);
}
#contact .signup  i{
    margin-top: 20px;
     background-color: black;
     padding-top: 10px;
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 10px;
     border-radius: 100%;
     font-size: 20px;
      color: aliceblue;
      border: 5px solid aliceblue;
      gap: 10px;
}
#contact .signup i:hover{
    background-color: darkgoldenrod;
    border: 5px solid darkred;
}  
#contact .signup h1{
    font-size: 32px;
    transition: all 3s ease;
    color: #f70707;
}
#contact .signup h1:hover{
    color: rgb(252, 251, 251);
}
#contact .signup a{
    /* text-decoration: none; */
    color: aliceblue;
    font-size: 20px;
}
#inp{
    display: none;
}
#bars{
    display: none;
}
/*<!--=======================[FOOTER end HERE]==============-->*/
/*===============[MEDIA QUERY STARTS HERE]===========*/
/*===============[MEDIA QUERY STARTS HERE]===========*/
@media (max-width:450px){
    #heading nav #container  ul {
        display: none;
    }
    #inp:checked~  #heading nav #container  ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 12%;
        right:7%;
        padding: 20px;
        border-radius: 10px;
        background-color: aliceblue;
        /* line-height: 5%; */
        z-index: 5;
    }
    #bars{
        display: block;
        position: absolute;
        top: 3%;
        right: 9%;
        font-size: 35px;
        color: aliceblue;
        /* z-index: 50; */
    }
    #heading nav #container ul a{
        color: #000000;
        gap: 5px;
        font-size: 20px;
    }
    #container h2{
        font-weight: bold;
        text-decoration: underline;
        width: 90px;
        height: 90px;
        border: 5px dashed rgb(229, 232, 234);
        border-radius: 50%;
        padding-left: 15px;
        padding-top: 10px;
        font-size: 20px;
        color: rgb(235, 233, 228);
        transition: all 3s ease-in-out;
        
    }
    #container h2:hover{
        color: rgb(191, 165, 36);
        transform: rotate(360deg);
        border-radius: 100px;
        font-size: 20px;
    }
    #container input{
        display: none;
    }
    #container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        background: black; 
    }
    /*------------==================================first section starts here===================================================-->*/
    #ret{
        flex-wrap: wrap; 
        /* justify-content: center;  */
        position:absolute;
        top: 7rem;
        width: 60%;
        left: 4rem;
        z-index: 3;
        text-align: center;
    }
    #ret h1{
        color: aliceblue;
        font-weight: bold;
        font-size: 3rem;
     }
     #ret h1 span{
         color: darkgoldenrod;
     }
     #ret h2{
         margin-top: 30px;
     }
     #ret h2 a{
         color: aliceblue;
         font-weight: bold;
         font-size: 2rem;
         text-decoration: none;
        
      }
      #ret h2 a:hover{
         color: rgb(247, 6, 6);
         text-decoration: underline;
     }
      #ret h2 span{
          color: rgb(250, 23, 7);
          font-size: 2rem;
     }
    /*------------====================================second section end============================================================---*/
    #tact{
        width: 100%;
        height: auto;
        background: #171717;
        padding: 2rem;
    }
    .contact div{
        margin-top: 40px; 
        width: 100%;
        height: auto;
        /* border: 1px solid rgb(12, 12, 12); */
        flex-direction: column;
        padding-left: 40px;
        padding-top: 40px;
        font-size: 2em;
        
    }
    .shadow{
        box-shadow: 5px 5px 13px rgb(25, 26, 27),-5px -5px 13px rgb(45, 49, 51);
        background: black;
        border-radius: 30px;
    }
    .contact{
       display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        color: aliceblue;
        flex-direction: column;
    }
    .contact div h2 i{
        font-size: 30px;
        background: rgb(245, 22, 6);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 50%;
       
    }
    .contact div h2 i:hover{
        color: #f8f2f2;
    
    }
    #form input{
        color: rgb(21, 27, 32);
        width: 60%;
        height: 40px;
        background: transparent;
        display: grid;
        justify-content: center;
        border: none;
        outline: none;
        border-radius: 5px;
        font-size: 25px;
        padding-left: 5px;
        border-bottom:1px solid aliceblue;
        
    }
    
    #submit {
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
       background: rgb(247, 14, 2);
        border: none;
        font-size: 1.4em;
        border-radius: 50px;
        color: aliceblue;
    }
    #submit:hover{
        color: black;
        background-color: #f2181879;
    }
    #form p{
        font-size: large;
    }
    /*===============================================footer starts===================================================================================*/


       
#contact {
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding-top: 60px;
    background: #0f0e0e;
    flex-wrap: wrap;
}
#contact p{
   font-size: 20px;
   color: whitesmoke;
}
#contact center input{
        width:250PX;
        height:7vh;
        font-size: 20px;
        padding-left: 20px;
        border-radius: 20px;
}
#contact .signup div{
    width: 100%;
    height: auto;
    border-right: 1px solid aliceblue;
    flex-direction: column;
    padding-top: 40px;
    color: aliceblue;
    padding-left: 20px;
    padding-top: 40px;
    flex-wrap: wrap;
   
}
#contact .signup {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
#contact .signup h1 a{
    color: rgb(215, 219, 222);
    text-decoration: none;
    font-size: 30px;
    
}

#contact .signup h1:hover{
    color: rgb(243, 12, 8);
}
#contact .signup  i{
    margin-top: 20px;
     background-color: black;
     padding-top: 10px;
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 10px;
     border-radius: 100%;
     font-size: 20px;
      color: aliceblue;
      border: 5px solid aliceblue;
      gap: 10px;
}
#contact .signup i:hover{
    background-color: darkgoldenrod;
    border: 5px solid darkred;
}  
#contact .signup h1{
    font-size: 32px;
    transition: all 3s ease;
}
#contact .signup h1:hover{
    color: rgb(243, 31, 3);
}
#contact .signup a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

/*<!--=======================[FOOTER end HERE]==============-->*/
}
  
   







 */
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARS</title>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Charm:wght@400;700&family=Jaro:opsz@6..72&family=Lobster&family=Oleo+Script:wght@400;700&family=Satisfy&family=Spicy+Rice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="cars.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <input type="checkbox" id="inp"> 
  <label for="inp" id="bars"><i class="fa-solid fa-bars"></i></label>
    <header id="heading">
        <nav>
            <div id="container">
              
                <div>
                    <h2>CAR<span>R<br>EN</span>TAL</h2>
                  
                </div>
              <ul data-aos="fade-down"
                  data-aos-easing="linear"
                  data-aos-duration="2500">
                  
                  <li><a href="home.html">HOME</a></li>
                  <li><a href="about.html">ABOUT</a></li>
                  <li><a href="service.html">SERVICES</a></li>
                  <li><a href="cars.html">CARS</a></li>
                  <!-- <li><a href="">BLOG</a></li> -->
                  <li><a href="contact.html">CONTACT</a></li>
              </ul>
  
              <input type="text" placeholder="Search">
  
            </div>
        </nav>
      </header>
 <!---------===============================================-first section starts==============================================--->
 <section id="img">

 </section>
<!---------============================================-second section starts here===========================================--->
    <section>
  <center>
        <div id="ret" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine"
            data-aos-duration="2000">
            <h1>OUR<span> CARS</span></h1>

            <h2><a href="index.html">Home/</a><span>Cars</span></h2>
        </div>
    </center>
    </section>
<!--====================================================================third section===================================-->
<section id="ourcar">
    <center><h2 style="color: red;margin-top: 60px;"> * Car type</h2></center>
    <div class="car">
        
        <div data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="2000">
            <h1>* CONVERTIBLE CAR</h1>
            <img src="./project.images/luxury-collection-img-1.jpg5.jpg" alt="web">
            
        </div>
        <div data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="2000">
            <h1>* SEDAN CAR</h1>
            <img src="https://images.pexels.com/photos/5126057/pexels-photo-5126057.jpeg?auto=compress&cs=tinysrgb&w=600" alt="web" >
            
        </div>
        <div data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="2000">
            <h1> * SPORTS CAR</h1>
            <img src="./project.images/luxury-collection-img-3.jpg2.jpg" alt="web" >
            
        </div>
        <div data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="2000">
            <h1>* LUXURY CAR</h1>
            <img src="./project.images/luxury-collection-img-4.jpg" alt="web" >
            
        </div>
    </div>

    <div class="car">
        <div data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="2000">
            <h1>* ELECTRIC CAR</h1>
            <img src="https://demo.awaikenthemes.com/novaride/dark/wp-content/uploads/2024/08/luxury-collection-img-5.jpg" alt="web" >
            
        </div>
        <div data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="2000">
            <h1>* COUPE CAR</h1>
            <img src="https://demo.awaikenthemes.com/novaride/dark/wp-content/uploads/2024/08/luxury-collection-img-6.jpg" alt="web" >
            
        </div>
        <div data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="2000">
            <h1> * SPORTS CAR</h1>
            <img src="https://images.pexels.com/photos/1545743/pexels-photo-1545743.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="web" >
            
        </div>
        <div data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="2000">
            <h1>* CRISTIAN CAR</h1>
            <img src="https://images.pexels.com/photos/1164778/pexels-photo-1164778.jpeg?auto=compress&cs=tinysrgb&w=600" alt="web" >
            
        </div>
    </div>
</section>
<!--=========================================fourth section===================================================================================-->
<section id="choose">
    <center>
        <div>
          <h3 style="color: red; margin-top: 60px;" data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-duration="2500"> * Why Choose Us</h3><br><br>
          <h1  data-aos="fade-right"
          data-aos-easing="linear"
          data-aos-duration="2500">Unmatched quality and service<br>
            for your needs</h1>
        </div>
   </center>

   <div id="options" data-aos="fade-up"
   data-aos-easing="linear"
   data-aos-duration="2500">
          <div class="text">
              <h2 data-aos="fade-up"
              data-aos-easing="linear"
              data-aos-duration="2000"> <img src="https://cdn-icons-png.flaticon.com/128/15863/15863083.png" alt="icon"> Extensive Fleet Options</h2><br>
              <p data-aos="fade-up"
              data-aos-easing="linear"
              data-aos-duration="2000">Quisque Sollicitudin Feugiat Risus, Eu Posuere Ex Euismod Eu. Phasellus Hendrerit, Massa</p><br><br>
              <hr><br><br>
              <h2 data-aos="fade-up"
              data-aos-easing="linear"
              data-aos-duration="2000"><img src="https://cdn-icons-png.flaticon.com/128/18956/18956672.png" alt="icon">  Exceptional Customer Service</h2><br>
              <p data-aos="fade-up"
              data-aos-easing="linear"
              data-aos-duration="2000">Quisque Sollicitudin Feugiat Risus, Eu Posuere Ex Euismod Eu. Phasellus Hendrerit, Massa</p>
          </div>
          <div>
              <img src="https://demo.awaikenthemes.com/novaride/dark/wp-content/uploads/2024/08/why-choose-img.jpg" alt="web" class="img1">
              <img src="https://demo.awaikenthemes.com/novaride/dark/wp-content/uploads/2024/08/why-choose-car-img.png" alt="web" class="img2">
          </div>
          <div class="text2">
             <h2 data-aos="fade-up"
             data-aos-easing="linear"
             data-aos-duration="2000"> <img src="https://cdn-icons-png.flaticon.com/128/18587/18587813.png" alt="icon"> Convenient Locations</h2><br>
              <p data-aos="fade-up"
              data-aos-easing="linear"
              data-aos-duration="2000">Quisque Sollicitudin Feugiat Risus, Eu Posuere Ex Euismod Eu. Phasellus Hendrerit, Massa</p><br><br>
              <hr><br><br>
              <h2 data-aos="fade-up"
              data-aos-easing="linear"
              data-aos-duration="2000">  <img src="https://cdn-icons-png.flaticon.com/128/17060/17060641.png" alt="icon"> Reliability And Safety</h2><br>
              <p data-aos="fade-up"
              data-aos-easing="linear"
              data-aos-duration="2000">Quisque Sollicitudin Feugiat Risus, Eu Posuere Ex Euismod Eu. Phasellus Hendrerit, Massa</p>
          </div>
   </div>


</section>

<!---------====================================footer starts===================================================================-->
 
<footer id="contact">
    <center>
       <div>
           <p>Signup To Receive Offers & Updates</p><br>
           <input type="email" placeholder="YOUR E-MAIL">
        </div> <br><br>
      </center>
    <hr>
    
        <div class="signup">
            
            <div>
                <h1> Legal Policy </h1> <br>Privacy  <br>Terms and Conditions <br>Return, Refund & Cancellation <br> Order Tracking  <br>Shipping Policy
            </div>
            <div>
                <h1> <a href="contact.html">CONTACT US</a></h1><br><br>
                <p>If you’d like to get in touch, Please send us a mail during regular business hours.</p><br><br>
                <p>carbooking.support@nha-world.com</p>
            </div>
  
            <div>
              <h1> Quick links</h1><br><br>
                 <a href="index.html">Home</a> <br>
                 <a href="about.html">About Us</a> <br>
                 <a href="cars.html">Car Type</a><br>
                 <a href="service.html">Service</a>
  
                 <hr>
                 <i class="fa-brands fa-instagram fa-fade"></i>&nbsp;&nbsp;&nbsp;
                <i class="fa-brands fa-facebook fa-fade"></i>&nbsp;&nbsp;&nbsp;
                <i class="fa-brands fa-twitter fa-fade"></i>&nbsp;&nbsp;&nbsp;
                <i class="fa-brands fa-google fa-fade"></i><br><br><br>
              </div>
      </div>
    
    
  </footer> 
  <!--=======================[FOOTER ENDS HERE]==============-->









<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
    <script src="script1.js"></script> 
    <script src="vanta.js"></script> 
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>