

*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    
}
 body{
    width: 100%;
    height: 100vh;
   /* background:  linear-gradient(rgb(63, 142, 148),rgb(163, 163, 210),rgb(59, 105, 142));*/
     display: flex;
    background-image: url("https://t4.ftcdn.net/jpg/07/00/99/97/240_F_700999714_D78AUZytwNyGt7vN1Vk6GK3B8EnoHVi0.jpg");
    background-size: cover;
    
}
#container h1{
    
    font-weight: bold;
    text-decoration: underline;
    width: 105px;
    height: 115px;
    border: 5px dashed rgb(254, 251, 251);
    border-radius: 50%;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 30px;
    color: rgb(248, 243, 243);
    transition: all 3s ease-in-out;
}
#container h1:hover{
    color: rgb(191, 165, 36);
    transform: rotate(360deg);
    border-radius: 100px;
    font-size: 35px;
}
#container h1 span{
    color: rgb(156, 130, 25);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#container h1 span:hover{
    color: rgb(14, 14, 13);
}
h2{
    margin-bottom: 7px;
    color: aliceblue;
}
#form{
    width: 500px;
    height: 550px;
    border: 0px solid black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 25%;
    box-shadow: 5px 7px 10px rgb(13, 13, 14),-5px -7px 10px rgb(15, 16, 16);
    background: rgba(13, 13, 13, 0.445);
   
}

form input{
    color: rgb(222, 226, 229);
    width: 60%;
    height: 40px;
    background: transparent;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 25px;
    padding-left: 5px;
    box-shadow: 1px 1px 3px rgb(70, 55, 55),-1px -1px 3px rgb(99, 76, 76);
    
}
#submit{
    background: aliceblue;
    color: rgb(8, 11, 13);
    font-size: 30px;
    box-shadow: 5px 5px 13px rgb(97, 123, 148),-5px -5px 13px rgb(94, 131, 146);
    border-radius: 20px;
}
#submit:hover{
    color:white;
    background: transparent;
}
#form p{
    font-size: large;
    
}
@media (max-width:450px){
    body{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    #form{
        width: 100%;
        height: 550px;
        margin-left: 0;
    }
}

