*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#home{
    width: 100%;
    min-height: 100vh;   /* ⭐ MOST IMPORTANT */
    position: relative;
    overflow: hidden;
    background: black;   /* fallback */
}

#home .box1{
    position: absolute;
    padding: 1rem;
    z-index: 5;
}

#home .box1 img{
    width:150px;
    height:150px;
  
}
#home .box2{
    width: 80%;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 16%;
    font-size: 1.3rem;
    color: aliceblue;
    z-index: 5;
}
#myvideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;   /* ⭐ KEY LINE */
    object-fit: cover;
    z-index: -2;
}


 
.box2 h1{
    font-size: 60px;
} 

#home .box2 button{
    
    padding: 1rem;
    font-size: 25px;
    border-radius: 30px;
    background: rgb(65, 179, 224);
    color: aliceblue;
    border: 3px solid black;
    
}
#home .box2 button:hover{
    background: aliceblue;
    color: rgb(17, 17, 18);
}
#home::before{
    content: "";
    position: absolute;
    inset: 0;
    min-height: 100%;
    background: rgba(0,0,0,0.45);
    z-index: -1;
}



@media (max-width:450px){

    #home .box2{
        width: 92%;
        left: 4%;
        top: 22%;
    }

    .box2 h1{
        font-size: 34px;
    }

    #home .box2 p{
        display: none;
    }
}
