

*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(rgb(63, 142, 148),rgb(163, 163, 210),rgb(59, 105, 142)); */
    background-image: url("./project.images/istockphoto-blue.jpg");
    background-size: cover;
}
#login{
    position: relative;
    width: 400px;
    height: 450px;
    box-shadow: 5px 5px 13px rgb(97, 123, 148),-5px -5px 13px rgb(94, 131, 146);
    background: transparent;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2cm;
    color: aliceblue;
    text-align: center;
}
.inp{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid aliceblue;
}
.inp label{
    position:absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 25px;
    color: aliceblue;
    pointer-events: none;
    transition: .5s;
}
.inp input:focus~label,
.inp input:valid~label{
    top: -5px;
}
.inp input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: aliceblue;
    padding: 0 35px 0 5px;
}
.inp .icon{
    position: absolute;
    right: 8px;
    color: aliceblue;
    font-size: 1.2em;
    line-height: 57px;

}
.remember{
    margin: 15px 0 15px;
    font-size: .9em;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.remember label input{
    margin-right: 3px;
}
.remember a{
    color: aliceblue;
    text-decoration: none;
}
.remember a:hover{
    text-decoration: underline;
}
#insert input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none; 
    outline: none;
    cursor: pointer;
    font-size: 1.7em;
    color:  aliceblue;;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 5px 5px 13px rgb(97, 123, 148),-5px -5px 13px rgb(94, 131, 146);
}
#insert input:hover{
    background: aliceblue;
    color: black;
}
#register{
    font-size: .9em;
    color: rgb(219, 223, 227);
    text-align: center;
    margin: 25px 0 10px;
    
}
#register p a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}
#register p a:hover{
    text-decoration: underline;
}


/*=================================================ends===============================================================================================*/
