

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    /* font-family: "Lobster", serif; */
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    /* overflow-x: hidden; */
}

#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: rgb(66, 63, 63);
    padding: 0.5rem;
    background: transparent;
}

#container img{
    height: 2.5rem;
}  
#container h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    width: 115px;
    height: 115px;
    border: 5px dashed rgb(0, 5, 7);
    border-radius: 50%;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 30px;
    color: rgb(19, 18, 16);
   transition: all 3s ease-in-out;
}
#container h2:hover{
    color: rgb(191, 165, 36);
    transform: rotate(360deg);
    border-radius: 100px;
    font-size: 35px;
}
#container h2 span{
    color: rgb(156, 130, 25);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#container h2 span:hover{
    color: rgb(10, 10, 8);
}
#container  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.6em;
    font-weight: bold;
}
#container  a{
    text-decoration: none;
    color: rgb(3, 3, 3);
    font-family: "Lobster", serif;
}
#container li{
    list-style: none;
}
#container  a:hover{
    text-decoration: underline;
    color: rgba(188, 8, 8, 0.737);
}

#container input{
    outline-color: #f70707;
    padding: 7px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}



/* ///-------------------------============-swiper-slider========================----------------------- */

.swiper1{
    width: 100%;
    height: 110vh;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110vh;
    
}
.swiper-slide img {
    width: 95%;
    height: 100%;
    border-top-left-radius: 90px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 200px;
    
}

#ret{
     display: flex;
     flex-wrap: wrap;
     justify-content: center; 
     align-items: center;
     position:absolute;
     top: 15rem;
     left: 20rem; 
     width: 60%; 
     color: rgb(247, 242, 242);
     z-index: 3;
     text-align: center;
}
#ret h1{
    font-size: 4rem;
    font-weight: 700;
}
#ret h1 span{
    color: #f7070785;
    text-decoration: underline;
}
#ret p{
    font-size: 1.5rem;
    font-weight: 400;
}
#ret button{
    margin-top: 40px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-radius: 25px;
    background-color: #e7dedeee;
    border: none;
    gap: 10px;
   
}
#ret button a{
   text-decoration: none;
   font-size: 1.6rem;
   color: rgb(25, 25, 26);
} 
#ret button:hover{
    background-color: #df0f0fa6;
}
#ret button a:hover{
    color: #e3dbdb;
}
#ret .btn2{
    background-color: #f7070799;
    color: #0f0e0e;
}
#aboutus{
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
.imgstack{
    position: relative;
    width: 400px;
    height: 500px;
}
.img1{
    margin-left: 40px;
    border-top-right-radius: 60px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:5px inset black;
  
}
.img2{
    border-top-right-radius: 60px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 60px;
    position: absolute;
    top: 75%;
    left: 80%;
    width: 70%;
    height: 70%;
    object-fit: cover;
    transform: translate(-50%,-50%);
    border:5px outset black;
}
 
.aboutcontains{
     display: flex; 
     gap: 200px;
}

.aboutcontains div{
    gap: 20px;
}
.content{
   margin-top: 20px;
   width: 700px;
   height: 500px;
}
.content h1 h2 h3{
    font-weight: 600;
}
.content h1{
    font-size: 35px;
}
.content button{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-radius: 25px;
    background-color: #e4d0d0ee;
    border: none;
    font-size: 1.9em;
}
.content button:hover{
    background-color: #df0f0fbd;
    
}
.content img{
    width: 50px;
    height: 50px;
}
#services{
  width: 100%;
  height: 150vh;
}
#services h3 h1{
    font-weight: 700;
}
#services h1{
    font-size: 65px;
}
#services  p{
    margin-top: 30px;
    font-size: 20px;
}
#services button{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    background-color: #e4d0d0ee;
    border: none;
    font-size: 1.7em;
}
#services button:hover{
    background-color: #df0f0fbd;
    color: #e3dbdb;
    
}
.Servicecontent div{
    width: 300px;
    height: 500px;
    border: 1px solid rgba(167, 149, 149, 0.744);
    border-top-right-radius: 60px;
    border-top-left-radius: 20px;
    background: #f1eeee;
    flex-wrap: wrap;
    
}
.Servicecontent{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    
}
.Servicecontent img{
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 50%;
}
.Servicecontent  p{
    margin-left: 20px;
    font-size: 20px;

}
.Servicecontent  h2{
    margin-left: 20px;
    font-size: 30px;
}

   
#fleets{
  width: 100%;
  height: auto;
  font-weight: bold;
  flex-wrap: wrap;
  color: rgb(16, 18, 19);
}
#fleets h3 h1{
    font-weight: 700;
}
#fleets h1{
    font-size: 65px;
}


/*============================================second swiper=========================================*/
.swiper2 {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
.slider{
    background: #f1eeee;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    height: 670px;
    border: 1px solid rgba(167, 149, 149, 0.744);
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    font-size: 20px;
    border-top-width: 30px;
    border-bottom-width: 30px;
    border-left-width: 30px;
    border-right-width: 30px;
    
    
} 
.slider img{
    width: 360px;
    height: 250px;
}
.slider button{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-radius: 30px;
    background-color: #bab2b2a1;
    border: none;
    font-size: 1.4em;
    color: rgb(9, 10, 10);
}
.slider h3 img{
    width: 30px;
    height: 25px;
    color: rgb(16, 15, 15);
    margin-right: 25px;
}





