

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    font-family: "Oswald", serif;
}
/*------------================================================================================================---*/
/*------------==================================navbar section starts here===================================================-->*/
#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    background: black; 
}

#container h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    width: 115px;
    height: 115px;
    border: 5px dashed rgb(229, 232, 234);
    border-radius: 50%;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 30px;
    color: rgb(235, 233, 228);
    transition: all 3s ease-in-out;
}
#container h2:hover{
    color: rgb(191, 165, 36);
    transform: rotate(360deg);
    border-radius: 100px;
    font-size: 35px;
}
#container h2 span{
    color: rgb(156, 130, 25);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#container h2 span:hover{
    color: rgb(236, 236, 227);
}
#container  ul {
    display: flex;
    gap: 20px;
    font-size: 1.6em;
    font-weight: bold;
}
#container  a{
    text-decoration: none;
    color: rgb(240, 233, 233);
    font-family: "Lobster", serif;
}
#container li{
    list-style: none;
}
#container  a:hover{
    text-decoration: underline;
    color: rgba(188, 8, 8, 0.737);
}

#container input{
    outline-color: #f70707;
    padding: 7px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}


/*------------====================================navbar section end============================================================---*/
/*------------==================================first section starts here===================================================-->*/
/* ///-------------------------============-swiper-slider========================----------------------- */
.swiper {
    width: 100%;
    height: auto;
    background-color: #0f0e0e;
    flex-wrap: wrap;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #0f0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 95%;
    height: auto;
    /* object-fit: cover; */
    border-radius: 20px;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #161515;
    opacity: 1;
    background: rgba(235, 229, 229, 0.811);
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }
/*------------====================================first section end============================================================---*/
/*------------==================================second section starts here===================================================-->*/

#ret{
     flex-wrap: wrap; 
     justify-content: center; 
     position:absolute;
     top: 15rem;
     width: 60%;
     left: 19rem;
     z-index: 3;
     text-align: center;
}
#ret h1{
    font-size: 4rem;
    font-weight: 700;
}
#ret h1 span{
    color: #f70707da;
    text-decoration: underline;
}
#ret p{
    font-size: 1.5rem;
    font-weight: 700;
    color: red;
}
#ret button{
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-radius: 25px;
    background-color: #e7dedeee;
    border: none;
}
#ret button a{
   text-decoration: none;
   font-size: 1.6rem;
   color: rgb(25, 25, 26);
} 
#ret button:hover{
    background-color: #df0f0fa6;
}
#ret button a:hover{
    color: #e3dbdb;
}
#ret .btn2{
    background-color: #f7070799;
    color: #0f0e0e;
}
/*------------====================================second section end============================================================---*/
/*------------==================================third section starts here===================================================-->*/
#aboutus{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #0f0e0e;
    color: aliceblue;
}
.aboutcontains{
    display: flex; 
    gap: 200px;
    margin-top: 150px;
    background: #000000;
    flex-wrap: wrap;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(70, 71, 71, 0.249),-5px -5px 10px rgba(50, 51, 52, 0.24);
  
}
.imgstack{
    position: relative;
    width: 400px;
    height: 500px;
    /* border: 1px solid aliceblue; */
    margin-left: 30px;
    margin-top: 10px;
    
}
.img1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:5px outset aliceblue;
    border-top-right-radius: 60px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 60px;
}
.img2{
    border-top-right-radius: 60px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 60px;
    position: absolute;
    top: 75%;
    left: 80%;
    width: 70%;
    height: 70%;
    object-fit: cover;
    transform: translate(-50%,-50%);
    border:5px outset aliceblue;
}
.content{
   width: 600px;
   height: 600px;
   margin-top: 10px;
   /* border: 1px solid aliceblue; */
}
.content h1 h2 h3{
    font-weight: 500;
}
.content h1{
    font-size: 25px;
}
.content button{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-radius: 25px;
    background-color: #f21818ee;
    border: none;
    font-size: 1.9em;
}
.content button a{
    color: aliceblue;
    text-decoration: none;
}
.content button:hover{
    background-color: #df0f0f6c;
    
}
.content img{
    width: 50px;
    height: 50px;
    color: aliceblue;
    margin-top: 8px;
}
/*------------====================================third section end============================================================---*/
/*------------==================================fourth section starts here===================================================-->*/
#services{
  width: 100%;
  height: auto;
  background-color: #0f0e0e;
  flex-wrap: wrap;
  border: 1px solid rgb(9, 9, 9);
}
#services .rent{
  margin-top: 150px; 
}
#services h3 h1{
    font-weight: 700;
}
#services h1{
    font-size: 65px;
    color: aliceblue;
}
#services .ptag{
    margin-top: 30px;
    font-size: 20px;
    color: aliceblue;
}
#services button{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    background-color: #e81717ee;
    border: none;
    font-size: 1.6em;
    color: aliceblue;
}
#services button a{
    color: aliceblue;
    text-decoration: none;
}
#services button:hover{
    background-color: #df0f0f77;
    color: #e3dbdb;
    
}
.Servicecontent div{
    width: 300px;
    height: 500px;
    border: 1px solid rgba(167, 149, 149, 0.744);
    border-top-right-radius: 60px;
    border-top-left-radius: 20px;
    background: #f1eeee;
    flex-wrap: wrap;
    
}
.Servicecontent div:hover{
    background-color: #f70707;
}
.Servicecontent{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    
}
.Servicecontent img{
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 50%;
}
.Servicecontent  p{
    margin-left: 20px;
    font-size: 20px;
    color: #0f0e0e;

}
.Servicecontent  h2{
    margin-left: 20px;
    font-size: 30px;
}

 /*------------====================================fourth section end============================================================---*/
/*------------==================================fifth section starts here===================================================-->*/  
#cars{
    width: 100%;
    height: auto;
    background-color: #0f0e0e;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
    
}
#box{
    margin-top: 160px;
    width: 400px;
    height:500px;
    /* border: 1px solid black; */
    background-size: cover;
    background-image: url("./project.images/photoback.avif");
    border-radius: 60px;
    
}
/* .boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
     /* box-shadow: 5px 5px 13px rgb(32, 32, 32),-5px -5px 13px rgb(30, 31, 31);  
} */
/* .boxes #textcontent{
    width: 60%;
    height: 400px;
    /* border: 1px solid black; 
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background: url("./project.images/pexels-photo-3786091.webp");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 50px;
    margin-right: 20px;
    
} */
#box2 div{
    width: 275px;
    height: 27vh;
    border: 5px solid black;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    flex-wrap: wrap;
}
#box2 {
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,ifr);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #0f0e0e49;
    color: aliceblue;
    border-radius: 30px;
    margin-top: 160px;
    
}
#box2 img{
width: 275px;
height: 27vh;
border-radius: 30px;
}
/* #box2 img:hover{
    width: 275px;
    height: 27vh;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
} */
/*------------====================================fifth section end============================================================---*/


#choose{
    width: 100%;
    height: auto;
    background: #111010;
    border: 1px solid black;
    color: aliceblue;
    flex-wrap: wrap;
}

#options{
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    background: #161515;
    /* border: 1px solid rgb(238, 234, 234); */
    flex-wrap: wrap;
    box-shadow: 5px 5px 10px rgba(70, 71, 71, 0.249),-5px -5px 10px rgba(50, 51, 52, 0.24);
}
#options div{
    width: 400px;
    height: auto;
    /* border: 1px solid black; */
}
#options .text{
    margin-top: 70px;
    font-weight: bold;
    font-size: 1.3em;
} 
#options .text h2 img{
    width: 50px;
    height: 50px;
   
}
.img3{
    position: absolute;
    width: 400px;
    border-radius: 180px;
    object-fit: cover;
    border:5px outset aliceblue;
    
}
.img4{
    border-top-right-radius: 60px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 60px;
    position: absolute;
    margin-top: 25%;
    
}

/*------------==================================sixth section starts here===================================================-->*/
#fleets{
    width: 100%;
    height: auto;
    font-weight: bold;
    flex-wrap: wrap;
    background-color: #0f0e0e;
    border: 1px solid rgb(15, 15, 15);
}
#fleets h3 {
      font-weight: 700;
      margin-top: 150px;
}
 #fleets h1{
      font-size: 65px;
      color: aliceblue;
     
      /* margin-bottom: 20px; */
  }
/*------------====================================sixth section end============================================================---*/
/*------------==================================seventh section starts here===================================================-->*/
#work{
    width: 100%;
    height: auto;
    background: #0f0e0e;
    display: flex;
    color: aliceblue;
    flex-wrap: wrap;
    justify-content: space-evenly;
     
}
#work .book1{
    margin-top: 100px;
    width: 55%;
    height: auto;
    /* border: 2px solid aliceblue; */
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    flex-wrap: wrap;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(70, 71, 71, 0.249),-5px -5px 10px rgba(50, 51, 52, 0.24);
}
.book1 h1{
    font-size: 40px;
}
#work .book2{
    width: 40%; 
    height: auto;
    /* border: 2px solid aliceblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#work .book2 img{
    border-radius: 40%;
    height: 80%;
    border:2px  double rgba(0, 217, 255, 0.402);
}
/*<!------------==================================seventh section ends here===================================================-->*/
/*<!------------==================================eightth section starts here===================================================-->*/
#testimonials{
    width: 100%;
    height: auto;
    font-weight: bold;
    background: #0f0e0e;
    color: aliceblue;
    border: 1px solid rgb(16, 16, 16);
    
}
#testimonials h3{
margin-top: 160px;
}
#testimonials h1{
    font-size: 4em;
    
}
.Swiper3 {
    width: 100%;
    height: auto;
    margin-top: 50px;
    
}
#testimonials .Swiper3{
    display: grid;
    grid-template-columns: repeat(5,425px);
    align-items: center;
    overflow-x: scroll;
   scrollbar-width: none;
   gap: 30px;
   flex-wrap: wrap;
}

.Swiper3 div {
    width: 425px;
    height: 400px;
    /* border: 1px solid aliceblue; */
    font-size: 18px;
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    box-shadow: 5px 5px 10px rgba(70, 71, 71, 0.249),-5px -5px 10px rgba(50, 51, 52, 0.24);
}
.Swiper3 div img{
    border-radius: 50%;
}


/*!------------==================================eightth section ends here===================================================-->*/
/*!------------==================================nineth section starts(booking page) here===================================================-->*/
#booking{
    margin-top: 30px;
    width: 100%;
    height: 100vh;;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./project.images/photocar.avif");
    background-size: cover;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}
 #login{
    position: relative;
    width: 400px;
    height: 450px;
    box-shadow: 5px 5px 13px rgb(97, 123, 148),-5px -5px 13px rgb(94, 131, 146);
    background: transparent;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 #booking h2{
    font-size: 2em;
    color: aliceblue;
    text-align: center;
}
.inp input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(4, 8, 11);
    padding: 0 35px 0 5px;
}
.inp{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid aliceblue;
}
.inp .icon{
    position: absolute;
    right: 8px;
    color: aliceblue;
    font-size: 1.2em;
    line-height: 57px;
}
.inp label{
    position:absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 25px;
    color: aliceblue;
    pointer-events: none;
    transition: .5s;
}
.inp input:focus~label,
.inp input:valid~label{
    top: -5px;
}

#insert input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none; 
    outline: none;
    cursor: pointer;
    font-size: 1.7em;
    color:  aliceblue;;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 5px 5px 13px rgb(97, 123, 148),-5px -5px 13px rgb(94, 131, 146);
}
#insert input:hover{
    background: aliceblue;
    color: black;
}


    

    





/*!------------==================================nineth section ends here===================================================-->*/

/*<!--=======================[FOOTER STARTS HERE]==============-->*/
#contact {
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding-top: 60px;
    background: #0f0e0e;
    flex-wrap: wrap;
}
#contact p{
   font-size: 20px;
   color: aliceblue;
}
#contact center input{
        width:400PX;
        height:7vh;
        font-size: 20px;
        padding-left: 20px;
        border-radius: 20px;
}
#contact .signup div{
    width: 100%;
    height: auto;
    border-right: 1px solid aliceblue;
    flex-direction: column;
    padding-top: 40px;
    color: aliceblue;
    padding-left: 20px;
    padding-top: 40px;
    flex-wrap: wrap;
   
}
#contact .signup {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}
#contact .signup h1 a{
    color: aliceblue;
    /* text-decoration: none; */
    font-size: 30px;
    
}

#contact .signup h1:hover{
    color: rgb(243, 12, 8);
}
#contact .signup  i{
     margin-top: 20px;
     background-color: black;
     padding-top: 10px;
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 10px;
     border-radius: 100%;
     font-size: 20px;
     color: aliceblue;
     border: 5px solid aliceblue;
     /* gap: 10px; */
      
}
#contact .signup i:hover{
    background-color: darkgoldenrod;
    border: 5px solid darkred;
}  
#contact .signup h1{
    font-size: 32px;
    transition: all 3s ease;
}
#contact .signup h1:hover{
    color: rgb(243, 31, 3);
}
#contact .signup a{
    /* text-decoration: none; */
    color: aliceblue;
    font-size: 20px;
}
/* #inp{
    display: none;
} */
/* #bars{
    display: none;
} */
/*<!--=======================[FOOTER end HERE]==============-->*/
/*===============[MEDIA QUERY STARTS HERE]===========*/
@media (max-width:450px){
    #heading nav #container  ul {
        display: none;
    }
    #inp:checked~ #container ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 12%;
        right:7%;
        padding: 20px;
        border-radius: 10px;
        background-color: aliceblue;
        line-height: 5%;
    }
    #bars{
        display: block;
        position: absolute;
        top: 3%;
        right: 9%;
        font-size: 35px;
        color: aliceblue;
        /* z-index: 50; */
    }
    
}
  
   







