*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

 #top{
    width: 100%;
    height: 100vh;
    border: 2px solid black;
    background: linear-gradient(rgb(63, 142, 148),rgb(163, 163, 210),rgb(59, 105, 142));
    display: flex;
    justify-content: space-between;
    background-image: url(photocar.avif);
    background-size: cover;
}
#top nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}
#top  a{
    text-decoration: none;
}
#top li{
    list-style: none;
}
#top a:hover{
    text-decoration: underline;
    color: aliceblue;
}
