

*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    
}
body{
    width: 100%;
    height: 100vh;
    background:  linear-gradient(rgb(63, 142, 148),rgb(163, 163, 210),rgb(59, 105, 142));
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    margin-bottom: 7px;
    color: aliceblue;
}
#form{
   
    width: 500px;
    height: 550px;
    border: 0px solid black;
    color: rgb(227, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background:  linear-gradient(rgb(63, 142, 148),rgb(163, 163, 210),rgb(59, 105, 142));
    box-shadow: 5px 7px 10px rgb(76, 97, 117),-5px -7px 10px rgb(83, 108, 118);
}

form input{
    color: rgb(21, 27, 32);
    width: 60%;
    height: 40px;
    background: transparent;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 5px;
    box-shadow: 1px 1px 3px rgb(106, 80, 80),-1px -1px 3px rgb(99, 76, 76);
    
}
#submit{
    background: transparent;
    color: rgb(8, 11, 13);
    font-size: x-large;
    box-shadow: 5px 5px 13px rgb(97, 123, 148),-5px -5px 13px rgb(94, 131, 146);
    border-radius: 20px;
}
#submit:hover{
    color: black;
    background: aliceblue;
}
#form p{
    font-size: large;
    text-shadow: 2px 2px 5px rgb(214, 205, 205),-2px -2px 5px rgb(189, 183, 183);
}

